<ion-header>
    <app-header pageTitle="CheckList Assignment" (close)="onClose($event)"></app-header>
</ion-header>

<ion-content padding>
    <div *ngIf="loading">
        <mat-spinner style="margin: 0 auto" [diameter]="25"></mat-spinner>
    </div>
    <div *ngIf="noData">
        <p>No Data available</p>
    </div>
    <div *ngIf="types.length>0">
        <ion-segment (ionChange)="segmentChanged($event)" scrollable [(ngModel)]="orderType">
            <ion-segment-button [value]="type" *ngFor="let type of types">
                <ion-label>{{type}}</ion-label>
            </ion-segment-button>
        </ion-segment>

        <div *ngIf="ordersByType.length==0">
            <mat-spinner style="margin: 0 auto" [diameter]="25"></mat-spinner>
        </div>
        <div *ngIf="ordersByType.length>0">
            <div [ngSwitch]="orderType" (tabChanged)="onTabChanged($event)" class="swipe-area"
                *ngFor="let type of types">
                <br />
                <div *ngSwitchCase="type">
                    <div class="mat-table">
                        <div class="mat-header-row">
                            <div class="mat-header-cell">Order number</div>
                            <div class="mat-header-cell">Status</div>
                            <div class="mat-header-cell">Functional location</div>
                            <div class="mat-header-cell">Operation</div>
                            <div class="mat-header-cell">Description</div>
                            <div class="mat-header-cell">Checklist</div>
                            <div class="mat-header-cell">Production start date</div>
                        </div>
                        <div class="mat-row" *ngFor="let ord of ordersByType">
                            <div class="mat-cell">{{ord.orderPart.OrderNo}}</div>
                            <div class="mat-cell">{{ord.orderPart.StatusDescr}}</div>
                            <div class="mat-cell">{{ord.orderPart.FunctLoc}}</div>
                            <div class="mat-cell">{{ord.Operation}}</div>
                            <div class="mat-cell">{{ord.Description}}</div>
                            <div class="mat-cell">{{ord.Checklist}}</div>
                            <div class="mat-cell">{{ord.prodStartDate}}</div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</ion-content>