app-check-list-assignment{
  
//@import "../../../assets/css/main.css";
//@import "../../../assets/css/util.css";

  /* Styles for tab labels */
  .mat-tab-label {
    //min-width: 45px !important;
    //padding: 5px;
    background-color: transparent;
    color: #007CC0;
  }
  
  /* Styles for the active tab label */
  .mat-tab-label.mat-tab-label-active {
    //min-width: 45px !important;
    //padding: 5px;
    background-color: transparent;
    color: #007CC0;
    font-weight: bold;
    font-size: 20px;
  }

  table {
    width: 100%;
  }
  


}