app-check-list-assignment{
 
  /* Styles for tab labels */
  .mat-tab-label {
    //min-width: 45px !important;
    //padding: 5px;
    background-color: transparent;
    color: #007CC0;
  }
  
  /* Styles for the active tab label */
  .mat-tab-label.mat-tab-label-active {
    //min-width: 45px !important;
    //padding: 5px;
    background-color: transparent;
    color: #007CC0;
    font-weight: bold;
    font-size: 20px;
  }

  table {
    width: 100%;
  }

  .mat-column-FunctLoc,.mat-column-OrderNo,.mat-column-StatusDescr
  ,.mat-column-Operation,.mat-column-Description,.mat-column-Checklist
  ,.mat-column-prodStartDate,.mat-column-button {
    flex: 0 0 75px;
  }

  .searchbar{
    --background: #007CC0;
    --color: #fff;
    --icon-color: #007CC0;
    --placeholder-color :#fff;
    --clear-button-color:#fff;
  }

  ion-searchbar{        
    .searchbar-input-container{            
        .searchbar-input{
            border-radius: 20px;
            font-size: 20px !important;
        }
    }
 }
  


}