<ion-header>
    <app-header pageTitle="CheckList Assignment" (close)="onClose($event)"></app-header>
</ion-header>

<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pull-min="80">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <div *ngIf="loading">
        <mat-spinner style="margin: 0 auto" [diameter]="25"></mat-spinner>
    </div>
    <div *ngIf="noData">
        <p>No Data available</p>
    </div>
    <div *ngIf="types.length>0">
        <div>
            <!--<h5> 
                <span style="text-align: center;">Pull to refresh</span> 
                <ion-icon name="search"></ion-icon>
            </h5>-->
        </div>
        <ion-toolbar>
            <ion-buttons slot="end">
                <button style="background-color: #007CC0; color: white;"
                        mat-mini-fab *ngIf="clicked == false"
                        (click)="clicked = !clicked">
                    <mat-icon>search</mat-icon>
                </button>
            </ion-buttons>
            <ion-title *ngIf="clicked == false">
                Pull to refresh
            </ion-title>
            <ion-searchbar autocomplete="on" (ionBlur)="clicked = !clicked" 
                           animated *ngIf="clicked"
                           [(ngModel)]="searchTerm" [formControl]="searchControl" 
                           (ionInput)="onSearchInput()"></ion-searchbar>
        </ion-toolbar>
        <mat-tab-group (selectedTabChange)="segmentChanged($event)">
            <mat-tab *ngFor="let type of types" [label]="type">

                <div *ngIf="ordersByType.length>0">
                    <div [ngSwitch]="orderType" (tabChanged)="onTabChanged($event)" class="swipe-area"
                        *ngFor="let type of types">
                        <br />
                        <div *ngSwitchCase="type">
                            <mat-card>
                                <div class="mat-table">
                                    <div class="mat-header-row">
                                        <div class="mat-header-cell">Order number</div>
                                        <div class="mat-header-cell">Status</div>
                                        <div class="mat-header-cell">Functional location</div>
                                        <div class="mat-header-cell">Operation</div>
                                        <div class="mat-header-cell">Description</div>
                                        <div class="mat-header-cell">Checklist</div>
                                        <div class="mat-header-cell">Production start date</div>
                                        <div class="mat-header-cell">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                    </div>
                                    <div class="mat-row" *ngFor="let ord of ordersByType">
                                        <div class="mat-cell">{{ord.orderPart.OrderNo}}</div>
                                        <div class="mat-cell">{{ord.orderPart.StatusDescr}}</div>
                                        <div class="mat-cell">{{ord.orderPart.FunctLoc}}</div>
                                        <div class="mat-cell">{{ord.Operation}}</div>
                                        <div class="mat-cell">{{ord.Description}}</div>
                                        <div class="mat-cell">{{ord.Checklist}}</div>
                                        <div class="mat-cell">{{ord.prodStartDate}}</div>
                                        <div class="mat-cell">
                                            <ion-button color="light" (click)="scanQRCode()">
                                                <i class="material-icons" style="color: grey">note_add</i>
                                            </ion-button>
                                        </div>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>

        <div *ngIf="ordersByType.length==0">
            <mat-spinner style="margin: 0 auto" [diameter]="25"></mat-spinner>
        </div>
    </div>
</ion-content>