<ion-header>
    <app-header pageTitle="CheckList Assignment" (close)="onClose($event)"></app-header>
</ion-header>

<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pull-min="80">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <div *ngIf="loading">
        <mat-spinner style="margin: 0 auto" [diameter]="25"></mat-spinner>
    </div>
    <div *ngIf="noData">
        <p>No Data available</p>
    </div>
    <div *ngIf="types.length>0">
        <ion-toolbar>
            <!--ion-buttons slot="start">
                <ion-fab-button size="small" *ngIf="!refresh" style="--background: #007CC0;">
                    <i class="material-icons" style="color: #fff;">sort</i>
                </ion-fab-button>
            </ion-buttons>-->
            <div [style.visibility]="!clicked ? 'hidden' : 'visible'">
                <ion-searchbar #search (ionCancel)="toggleSearch()" [(ngModel)]="searchTerm"
                    [formControl]="searchControl" (ionBlur)="toggleSearch()" class="searchbar">
                </ion-searchbar>
            </div>
            <ion-buttons slot="end">
                <ion-fab-button size="small" *ngIf="!clicked && !refresh" (click)="toggleSearch()"
                    style="--background: #007CC0;">
                    <i class="material-icons" style="color: #fff;">search</i>
                </ion-fab-button>
            </ion-buttons>
        </ion-toolbar>
        <mat-tab-group (selectedTabChange)="segmentChanged($event)" #tabGroup>
            <mat-tab *ngFor="let type of types" [label]="type">
                <div *ngIf="!ok">
                    <mat-spinner style="margin: 0 auto" [diameter]="25"></mat-spinner>
                </div>
                <div *ngIf="ok">
                    <div [ngSwitch]="orderType" class="swipe-area" *ngFor="let type of types">
                        <br />
                        <div *ngSwitchCase="type">
                            <div *ngIf="orientation === 'landscape-primary'">
                                <table mat-table [dataSource]="orders" class="mat-elevation-z8">
                                    <ng-container matColumnDef="OrderNo">
                                        <th mat-header-cell *matHeaderCellDef
                                            style="font-weight: bold; color: #007CC0;font-size: 17px;">
                                            Order
                                        </th>
                                        <td mat-cell *matCellDef="let element" style="height: 70px;">
                                            {{element.orderPart.OrderNo}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="StatusDescr">
                                        <th mat-header-cell *matHeaderCellDef
                                            style="font-weight: bold; color: #007CC0;font-size: 17px"> Status </th>
                                        <td mat-cell *matCellDef="let element"> {{element.orderPart.StatusDescr}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="FunctLoc">
                                        <th mat-header-cell *matHeaderCellDef
                                            style="font-weight: bold; color: #007CC0;font-size: 17px"> FLOC </th>
                                        <td mat-cell *matCellDef="let element"> {{element.orderPart.FunctLoc}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Operation">
                                        <th mat-header-cell *matHeaderCellDef
                                            style="font-weight: bold; color: #007CC0;font-size: 17px"> Operation </th>
                                        <td mat-cell *matCellDef="let element; let i = index;"
                                            style="text-align: center"> {{element.Operation}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Description">
                                        <th mat-header-cell *matHeaderCellDef
                                            style="font-weight: bold; color: #007CC0;font-size: 17px"> Description </th>
                                        <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Checklist">
                                        <th mat-header-cell *matHeaderCellDef
                                            style="font-weight: bold; color: #007CC0;font-size: 17px"> Checklist </th>
                                        <td mat-cell *matCellDef="let element"> {{element.Checklist}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="prodStartDate">
                                        <th mat-header-cell *matHeaderCellDef
                                            style="font-weight: bold; color: #007CC0;font-size: 17px"> Start date </th>
                                        <td mat-cell *matCellDef="let element"> {{element.prodStartDate}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="button">
                                        <th mat-header-cell *matHeaderCellDef></th>
                                        <td mat-cell *matCellDef="let element;let i=index;">
                                            <ion-fab-button size="small" style="--background: #007CC0; "
                                                (click)="presentCheckListsModal(i)" *ngIf="element.Checklist === ''">
                                                <i class="material-icons" style="color: #fff;">note_add</i>
                                            </ion-fab-button>
                                            <ion-fab-button size="small" style="--background: #007CC0; "
                                                (click)="removeCheckList(i)" *ngIf="element.Checklist !== ''">
                                                <i class="material-icons" style="color: #fff;">delete</i>
                                            </ion-fab-button>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                            <div *ngIf="orientation === 'portrait-primary'">
                                <table mat-table [dataSource]="orders" class="mat-elevation-z8">
                                    <ng-container matColumnDef="OrderNo">
                                        <th mat-header-cell *matHeaderCellDef
                                            style="font-weight: bold; color: #007CC0;font-size: 17px;">
                                            Order
                                        </th>
                                        <td mat-cell *matCellDef="let element" style="height: 70px;">
                                            {{element.orderPart.OrderNo}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="FunctLoc">
                                        <th mat-header-cell *matHeaderCellDef
                                            style="font-weight: bold; color: #007CC0;font-size: 17px"> FLOC </th>
                                        <td mat-cell *matCellDef="let element"> {{element.orderPart.FunctLoc}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Operation">
                                        <th mat-header-cell *matHeaderCellDef
                                            style="font-weight: bold; color: #007CC0;font-size: 17px"> Operation </th>
                                        <td mat-cell *matCellDef="let element; let i = index;"> {{element.Operation}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Description">
                                        <th mat-header-cell *matHeaderCellDef
                                            style="font-weight: bold; color: #007CC0;font-size: 17px"> Description </th>
                                        <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Checklist">
                                        <th mat-header-cell *matHeaderCellDef
                                            style="font-weight: bold; color: #007CC0;font-size: 17px"> Checklist </th>
                                        <td mat-cell *matCellDef="let element"> {{element.Checklist}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="button">
                                        <th mat-header-cell *matHeaderCellDef></th>
                                        <td mat-cell *matCellDef="let element;let i=index;">
                                            <ion-fab-button size="small" style="--background: #007CC0; "
                                                (click)="presentCheckListsModal(i)" *ngIf="element.Checklist === ''">
                                                <i class="material-icons" style="color: #fff;">note_add</i>
                                            </ion-fab-button>
                                            <ion-fab-button size="small" style="--background: #007CC0; "
                                                (click)="removeCheckList(i)" *ngIf="element.Checklist !== ''">
                                                <i class="material-icons" style="color: #fff;">delete</i>
                                            </ion-fab-button>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedPortraitColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedPortraitColumns;"></tr>
                                </table>
                            </div>
                        </div>
                        <!--Fin ngswitch-->
                    </div>
                </div>

            </mat-tab>
        </mat-tab-group>
    </div>
</ion-content>