<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form *ngIf="modif == false">
    <mat-card class="mat-elevation-z8" style=" background-color: #005BBB;text-align: center">
      <h4 style="font-weight: bold;color: #fff;font-size: 20px;display: inline-block">
        General Information
      </h4>
    </mat-card>
    <br />
    <mat-card>
      <mat-form-field class="example-form">
        <input matInput placeholder="Notification Number" readonly="true" [value]="choosenNotif.NotifNo">
      </mat-form-field>
      <mat-form-field class="example-form">
        <input matInput placeholder="Description" readonly="true" [value]="choosenNotif.ShortText">
      </mat-form-field>
      <mat-form-field class="example-form">
        <input matInput placeholder="Functional location" readonly="true" [value]="choosenNotif.FunctLoc">
      </mat-form-field>
      <mat-form-field class="example-form">
        <input matInput placeholder="Equipment" readonly="true" [value]="choosenNotif.Equipment">
      </mat-form-field>
      <br />
      <mat-checkbox disabled [checked]="choosenNotif.Breakdown" color="primary" class="example-form">
        Breakdown
        Indicator</mat-checkbox>
      <br /><br />
      <mat-form-field class="example-form">
        <input matInput placeholder="Effect on production" readonly="true" [value]="choosenNotif.Effect">
      </mat-form-field>
    </mat-card>
    <br />
    <mat-card class="mat-elevation-z8" style=" background-color: #005BBB;text-align: center">
      <h4 style="font-weight: bold;color: #fff;font-size: 20px;display: inline-block">
        Notification Informations
      </h4>
    </mat-card>
    <br />
    <mat-card>
      <mat-form-field class="example-form">
        <input matInput placeholder="Priority" readonly="true" [value]="choosenNotif.Priority">
      </mat-form-field>
      <mat-form-field class="example-form">
        <input matInput placeholder="Malfunction start date" readonly="true" [value]="initDate(choosenNotif.StartDate)">
      </mat-form-field>
      <mat-form-field class="example-form">
        <input matInput placeholder="Damage code" readonly="true" [value]="choosenNotif.DamageCode">
      </mat-form-field>
      <mat-form-field class="example-form">
        <input matInput placeholder="Cause" readonly="true" [value]="choosenNotif.CauseCode">
      </mat-form-field>
      <mat-form-field class="example-form">
        <input matInput placeholder="Object part" readonly="true" [value]="choosenNotif.ObjectPartCode">
      </mat-form-field>
      <mat-form-field class="example-form">
        <textarea matInput placeholder="Long text" readonly="true" [value]="choosenNotif.LongText"></textarea>
      </mat-form-field>
    </mat-card>
  </form>

  <form [formGroup]="notifDetailsFormGroup" *ngIf="modif == true">
    <mat-card class="mat-elevation-z8" style=" background-color: #005BBB;text-align: center">
      <h4 style="font-weight: bold;color: #fff;font-size: 20px;display: inline-block">
        General Information
      </h4>
    </mat-card>
    <br />
    <mat-card>
      <mat-form-field class="example-form">
        <input matInput placeholder="Notification Number" readonly="true" [value]="choosenNotif.NotifNo">
      </mat-form-field>
      <mat-form-field class="example-form" color="secondary">
        <input [(ngModel)]="choosenNotif.ShortText" matInput placeholder="Description" maxlength="40"
          formControlName="description" required>
      </mat-form-field>
      <mat-form-field class="form-85" class="example-form">
        <mat-select placeholder="Functional location" formControlName="functloc" required
          [(ngModel)]="choosenNotif.FunctLoc">
          <mat-option *ngFor="let l of locations" [value]="l.loc">
            {{l.loc}}-{{l.description}}...
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!--button color="primary" mat-button><ion-icon name="qr-scanner"></ion-icon>QR-CODE</button>-->
      <ion-button color="light" (click)="scanQRCode()">
        <ion-icon name="qr-scanner"></ion-icon>QR-CODE
      </ion-button>
      <mat-form-field class="example-form">
        <input matInput placeholder="Equipment" maxlength="40" formControlName="equipment"
          [(ngModel)]="choosenNotif.Equipment">
      </mat-form-field>
      <br />
      <mat-checkbox color="primary" formControlName="breakdownIndic" class="example-form"
        [checked]="choosenNotif.Breakdown">Breakdown Indicator
      </mat-checkbox>
      <br />
      <mat-form-field class="example-form">
        <mat-select placeholder="Effect on production" formControlName="productionEff"
          [(ngModel)]="choosenNotif.Effect">
          <mat-option *ngFor="let pe of productionEffects" [value]="pe.id">
            {{pe.desc}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>
    <br />
    <mat-card class="mat-elevation-z8" style=" background-color: #005BBB;text-align: center">
      <h4 style="font-weight: bold;color: #fff;font-size: 20px;display: inline-block">
        Notification Informations
      </h4>
    </mat-card>
    <br />
    <mat-card>
      <mat-form-field class="example-form">
        <mat-select placeholder="Priority" formControlName="priority" [(ngModel)]="choosenNotif.Priority">
          <mat-option *ngFor="let p of priorities" [value]="p.desc">
            {{p.id}}-{{p.desc}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-form">
        <input matInput placeholder="Malfunction start date" maxlength="40" [value]="initDate(choosenNotif.StartDate)"
          formControlName="startDate" required>
        <mat-icon matSuffix>calendar_today</mat-icon>
      </mat-form-field>
      <mat-form-field class="example-form">
        <mat-select placeholder="Damage code" formControlName="damageCode" [(ngModel)]="choosenNotif.DamageCode">
          <mat-option *ngFor="let p of priorities" [value]="p.desc">
            {{p.id}}-{{p.desc}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-form">
        <mat-select placeholder="Cause" formControlName="cause" [(ngModel)]="choosenNotif.CauseCode">
          <mat-option *ngFor="let p of priorities" [value]="p.desc">
            {{p.id}}-{{p.desc}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-form">
        <mat-select placeholder="Object part" formControlName="objectPart" [(ngModel)]="choosenNotif.ObjectPartCode">
          <mat-option *ngFor="let p of priorities" [value]="p.desc">
            {{p.id}}-{{p.desc}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-form">
        <textarea matInput placeholder="Long text" formControlName="longText"
          [(ngModel)]="choosenNotif.LongText"></textarea>
      </mat-form-field>

    </mat-card>
  </form>
</ion-content>
<ion-footer *ngIf="modif == false">
  <ion-toolbar style="--background: #3E4649;--min-height:50px">
    <ion-buttons slot="end">
      <ion-button style="background-color: green;color: white">
        Create Service Order
      </ion-button>
      <ion-button (click)="presentRestConfirm()" style="background-color: red;color: white;--height:40px" strong="true"
        size="large" type="reset">Reject</ion-button>
      <ion-button (click)="modif=true" style="background-color: #005BBB;color: white;--height:40px" strong="true"
        size="large" type="reset">Modify</ion-button>
      <ion-button (click)="displaySimilarNotifs()" style="background-color: #005BBB;color: white;--height:40px"
        strong="true" size="large" type="reset">Similar Notifications</ion-button>
      <ion-button (click)="presentRestConfirm()" style="background-color: #005BBB;color: white;--height:40px"
        strong="true" size="large" type="reset">Copy</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
<ion-footer *ngIf="modif == true">
  <ion-toolbar style="--background: #3E4649;--min-height:50px">
    <ion-buttons slot="end">
      <ion-button style="background-color: green;color: white">
        Save
      </ion-button>
      <ion-button style="background-color: red;color: white;--height:40px" strong="true" size="large"
        (click)="modif = !modif">Cancel</ion-button>
      <ion-button style="background-color: #005BBB;color: white;--height:40px" (click)="displaySimilarNotifs()" strong="true" size="large" type="reset">
        Similar
        Notifications</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>