.example-form {
  width: 80%;
}

.example-form2 {
  width: 67%;
  margin-left: 5%;
}

.example-form3 {
  width: 67%;
  //margin-left: 5%;
}

  .example-full-width {
    width: 100%;
  }

  .form-85 {
    width: 70%
  }

  ion-item{
    --background-activated  : #000;

  }
  
  .content:not(#excluded){
    text-align: center;
  }

  #excluded{
    width: 50%;
    margin-left:10%;
  }
  
  
  

