<ion-header>
  <ion-toolbar style="--background: #005BBB">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" style="color: white ">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color: white ">Equipments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div *ngIf="notAvailable;else contentAvailable">
    <mat-spinner style="margin: 0 auto"></mat-spinner>
  </div>

  <ng-template #contentAvailable>
    <div *ngIf="noData">
      No equipment available for this functionnal location
    </div>
    <div *ngIf="!noData">
      <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()">
      </ion-searchbar>

      <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
      </div>

      <ion-list>
        <ion-list-header>
          <ion-label>Choose the Equipment</ion-label>
        </ion-list-header>
        <ion-item (click)="choose(eq)" *ngFor="let eq of equipments">
          {{eq.EquipmentDescr}}
        </ion-item>
      </ion-list>
    </div>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-toolbar style="--background: #fff;--min-height:50px">
    <ion-buttons slot="end">
      <button mat-flat-button class="btn-cancel" (click)="closeModal()">
        Cancel
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>