<ion-header>
    <ion-toolbar style="--background: #005BBB">
      <ion-buttons slot="start">
        <ion-button (click)="closeModal()" style="color: white ">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title style="color: white ">Cause</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <div *ngIf="notAvailable;else contentAvailable">
    <mat-spinner style="margin: 0 auto"></mat-spinner>
  </div>

  <ng-template #contentAvailable>
    <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl"></ion-searchbar>
    <ion-list>
      <ion-list-header>
        <ion-label>Choose the cause</ion-label>
      </ion-list-header>
      <ion-item (click)="choose(cc)" *ngFor="let cc of causeCodes;let i=index">
        <p>
          {{cc.CodeDescr}}
        </p>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-toolbar style="--background: #fff;--min-height:50px">
    <ion-buttons slot="end">
      <ion-button style="background-color: red;color: white" (click)="closeModal()">
        Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>