<ion-toolbar>
  <ion-buttons slot="start" *ngIf="currentUrl !== '/home'">
      <ion-back-button
          [text]=""
          [icon]="home">
      </ion-back-button>
  </ion-buttons>
  <img alt="logo" height="40" src="../../../assets/img/logo.png" *ngIf="currentUrl === '/home' ">
  <ion-buttons slot="end" *ngIf="currentUrl !== '/similar-notifications' ">
    <ion-button fill="clear" (click)="presentActionSheet()">
        <ion-icon name="settings" style="color: grey"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>
    {{pageTitle}}
  </ion-title>
</ion-toolbar>