hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color:#005BBB;
} 

mat-toolbar{
    // --border-color: #005BBB;
    // --color: #005BBB;
    background-color:#fff;
    color: #FFF ;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2);
  }