hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color:#005BBB;
} 

ion-toolbar{
    --border-color: #005BBB;
    --color: #005BBB;
  }