<ion-toolbar>
  <ion-buttons slot="start" *ngIf="currentUrl !== '/home'">
      <ion-back-button
          [text]=""
          [icon]="home"
          style="color: #005BBB">
      </ion-back-button>
  </ion-buttons>
  <img alt="logo" height="40" src="../../../assets/img/logo.png" *ngIf="currentUrl === '/home' ">
  <ion-buttons slot="end" *ngIf="currentUrl !== '/similar-notifications' ">
    <ion-button fill="clear" (click)="presentActionSheet()" style="color: #005BBB">
        <ion-icon name="person" style="color: grey"></ion-icon>&nbsp;Lawrence Barr
    </ion-button>
  </ion-buttons>
  <ion-title style="color: #005BBB"> 
    {{pageTitle}}
  </ion-title>
</ion-toolbar>