<ion-header>
  <ion-toolbar style="--background: #005BBB">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" style="color: white ">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color: white ">Functionnal Location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="notAvailable;else contentAvailable">
    <mat-spinner style="margin: 0 auto"></mat-spinner>
  </div>

  <ng-template #contentAvailable>
    <div *ngIf="noData">
      No functionnal location available for this plant
    </div>
    <div *ngIf="!noData">
      <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>

      <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
      </div>

      <ion-list *ngIf="firstLevelFLOC != null && firstLevelFLOC != undefined && firstLevelFLOC !== ''">
        <ion-list-header>
          <ion-label>Choose the Functionnal Location</ion-label>
        </ion-list-header>
        <ion-item (click)="choose(fl)" *ngFor="let fl of functLocs;let i=index">
          {{fl.FunctLocId}} &nbsp; - &nbsp;{{fl.FunctLocDescr}}
        </ion-item>
      </ion-list>

      <ion-list *ngIf="firstLevelFLOC == null || firstLevelFLOC == undefined || firstLevelFLOC === ''">
          <ion-list-header>
            <ion-label>Choose the Functionnal Location</ion-label>
          </ion-list-header>
          <ion-item (click)="chooseFL(fl)" *ngFor="let fl of functLocs;let i=index">
            {{fl}}
          </ion-item>
        </ion-list>
    </div>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-toolbar style="--background: #fff;--min-height:50px">
    <ion-buttons slot="end">
      <ion-button style="background-color: red;color: white" (click)="closeModal()">
        Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>