<ion-header>
  <app-header pageTitle="Service Order Preparation" (close)="onClose($event)"></app-header>
</ion-header>

<ion-content padding>
  <div *ngIf="orientation === 'portrait-primary';else landscapeContent">
    <div *ngIf="notAvailable;else availContent">
      <mat-spinner style="margin: 0 auto"></mat-spinner>
    </div>
    <ng-template #availContent>
      <p *ngIf="noData == true">
        No data available for this plant
      </p>
      <mat-list *ngIf="noData == false">
          <mat-list-item *ngFor="let ord of ordersList" (click)="presentDetails(ord)"
            [style.background-color]="ord.bgcolor" [style.color]="ord.color">
            <h3 matLine style="font-weight: bold;color: #007CC0;">{{ord.OrderNo}} </h3>
            <p matLine [style.font-weight]="ord.fw">{{ord.ShortText}} <span
                *ngIf="ord.WorkCenterDescr.length>26">...</span> </p>
            <p matLine [style.font-weight]="ord.fw" class="demo-2"> {{ord.FunctLoc}}</p>
            <p style="color: red;" *ngIf="ord.Priority === '1'" [style.font-weight]="ord.fw" matLine>
              {{ord.PriorityDescr}}</p>
            <p style="color: blue;" *ngIf="ord.Priority === '2'" [style.font-weight]="ord.fw" matLine>
              {{ord.PriorityDescr}}</p>
            <p style="color: gray;" *ngIf="ord.Priority === '3'" [style.font-weight]="ord.fw" matLine>
              {{ord.PriorityDescr}}</p>
            <p style="color: green;" *ngIf="ord.Priority === '4'" [style.font-weight]="ord.fw" matLine>
              {{ord.PriorityDescr}}</p>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
          </mat-list-item>
        </mat-list>
    </ng-template>

  </div>

  <ng-template #landscapeContent>
    <div *ngIf="notAvailable;else availableContent">
      <mat-spinner style="margin: 0 auto"></mat-spinner>
    </div>
    <ng-template #availableContent>
      <p *ngIf="noData == true">
        No data available
      </p>
      <ion-split-pane content-id="menu-content" *ngIf="noData == false">
        <!--  our side menu  -->
        <ion-menu content-id="menu-content">
          <ion-content scrollEvents="true">
            <mat-list *ngIf="noData == false">
              <mat-list-item *ngFor="let ord of ordersList" (click)="presentDetails(ord)"
                [style.background-color]="ord.bgcolor" [style.color]="ord.color">
                <h3 matLine style="font-weight: bold;color: #007CC0;">{{ord.OrderNo}} </h3>
                <p matLine [style.font-weight]="ord.fw">{{ord.ShortText}} <span
                    *ngIf="ord.WorkCenterDescr.length>26">...</span> </p>
                <p matLine [style.font-weight]="ord.fw" class="demo-2"> {{ord.FunctLoc}}</p>
                <p style="color: red;" *ngIf="ord.Priority === '1'" [style.font-weight]="ord.fw" matLine>
                  {{ord.PriorityDescr}}</p>
                <p style="color: blue;" *ngIf="ord.Priority === '2'" [style.font-weight]="ord.fw" matLine>
                  {{ord.PriorityDescr}}</p>
                <p style="color: gray;" *ngIf="ord.Priority === '3'" [style.font-weight]="ord.fw" matLine>
                  {{ord.PriorityDescr}}</p>
                <p style="color: green;" *ngIf="ord.Priority === '4'" [style.font-weight]="ord.fw" matLine>
                  {{ord.PriorityDescr}}</p>
                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
              </mat-list-item>
            </mat-list>
          </ion-content>
        </ion-menu>

        <!-- the main content -->
        <ion-content id="menu-content">
          <p *ngIf="choosenOrder.OrderNo == null && noData==false">Choose one order to see details</p>
          <form *ngIf="modif == false && choosenOrder.OrderNo!=null">
            <mat-card class="mat-elevation-z8" style=" background-color: #007CC0;text-align: center">
              <h4 style="font-weight: bold;color: #fff;font-size: 20px;display: inline-block">Service Order
                Informations</h4>
            </mat-card>
            <br />
            <mat-card class="mat-elevation-z8">
              <mat-form-field class="example-form">
                <input matInput placeholder="Order Number" readonly="true" [value]="choosenOrder.OrderNo">
              </mat-form-field>
              <mat-form-field class="example-form">
                <input matInput placeholder="Description" readonly="true" [value]="choosenOrder.TasklistDescr">
              </mat-form-field>
              <mat-form-field class="example-form">
                <input matInput placeholder="PM activity type" readonly="true" [value]="pmAct">
              </mat-form-field>
              <mat-form-field class="example-form">
                <input matInput placeholder="Assignee" readonly="true" [value]="choosenOrder.Assignee">
              </mat-form-field>
              <mat-form-field class="example-form">
                <input matInput placeholder="Functionnal Location" readonly="true" [value]="choosenOrder.FunctLocDescr">
              </mat-form-field>
              <mat-form-field class="example-form">
                <input matInput placeholder="Equipment Number" readonly="true" [value]="choosenOrder.Equipment">
              </mat-form-field>
              <mat-form-field class="example-form">
                <input matInput placeholder="Priority" readonly="true" [value]="choosenOrder.PriorityDescr">
              </mat-form-field>
              <mat-form-field class="example-form">
                <input matInput placeholder="Status" readonly="true" [value]="orderStatus">
              </mat-form-field>
              <mat-form-field class="example-form">
                <textarea matInput placeholder="Text" readonly="true" [value]="choosenOrder.LongText"></textarea>
              </mat-form-field>
            </mat-card>
            <br />
            <!--Notification Informations-->
            <mat-card class="mat-elevation-z8" style="background-color: #007CC0; text-align: center">
              <h4 style="font-weight: bold;color: #fff;font-size: 20px; display: inline-block">Notification informations
              </h4>
            </mat-card>
            <br />
            <!--Loading spinner-->
            <div>
              <mat-spinner *ngIf="loadNotif" style="margin: 0 auto" [diameter]="25"></mat-spinner>
              <p *ngIf="noNotif">Unable to find the notification</p>
            </div>
            <!--Displaying Informations-->
            <div *ngIf="choosenNotif.NotifNo != null && loadNotif==false">
              <mat-card class="mat-elevation-z8">
                <mat-form-field class="example-form">
                  <input matInput placeholder="Notification Number" readonly="true" [value]="choosenOrder.NotifNo">
                </mat-form-field>
                <br />
                <mat-checkbox disabled [checked]="choosenNotif.Breakdown" color="primary" class="example-form">
                  Breakdown
                  Indicator</mat-checkbox>
                <br /><br />
                <mat-form-field class="example-form">
                  <input matInput placeholder="Damage code" readonly="true" [value]="choosenNotif.DamageCode">
                </mat-form-field>
                <mat-form-field class="example-form">
                  <input matInput placeholder="Cause" readonly="true" [value]="choosenNotif.CauseCode">
                </mat-form-field>
                <mat-form-field class="example-form">
                  <input matInput placeholder="Cause Description" readonly="true" [value]="choosenNotif.CauseDescr">
                </mat-form-field>
                <mat-form-field class="example-form">
                  <input matInput placeholder="Object Part" readonly="true" [value]="choosenNotif.ObjectPartCodeDescr">
                </mat-form-field>
              </mat-card>
            </div>
            <br />
            <!--Operations-->
            <ion-toolbar class="mat-elevation-z8" style="--background: #007CC0; text-align: center">
                <ion-title>
                  <h4 style="font-weight: bold;font-size: 20px; display: inline-block;color: white">Operations</h4>
                </ion-title>
                <ion-buttons slot="end">
                    <ion-fab-button size="small" style="--background: #FE5815; "
                    (click)="addNewOperation()">
                      <i class="material-icons" style="color: #fff;">add</i>
                  </ion-fab-button>
                </ion-buttons>
              </ion-toolbar>
            <br>
            <div *ngIf="operations.length == 0">
              <mat-spinner *ngIf="!noOperations" style="margin: 0 auto" [diameter]="25"></mat-spinner>
              <p *ngIf="noOperations">No operations available</p>
            </div>
            <div *ngIf="operations.length>0">
              <table mat-table [dataSource]="operations" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="Operation">
                  <th mat-header-cell *matHeaderCellDef> Operation </th>
                  <td mat-cell *matCellDef="let element" style="height: 70px;"> {{element.Activity}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="Description">
                  <th mat-header-cell *matHeaderCellDef> Description </th>
                  <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="NumberOfCapacities">
                  <th mat-header-cell *matHeaderCellDef> Capacities </th>
                  <td mat-cell *matCellDef="let element"> {{element.NumberOfCapacities}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="WorkForecast">
                  <th mat-header-cell *matHeaderCellDef> Forecasted work </th>
                  <td mat-cell *matCellDef="let element"> {{element.WorkForecast}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="ActivityType">
                  <th mat-header-cell *matHeaderCellDef> Activity Type </th>
                  <td mat-cell *matCellDef="let element"> {{element.ActivityType}} </td>
                </ng-container>

                <ng-container matColumnDef="detail">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element;let i=index">
                        <ion-fab-button size="small" style="--background: #007CC0; ">
                            <i class="material-icons" style="color: #fff;">navigate_next</i>
                        </ion-fab-button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row 
                *matRowDef="let row; columns: displayedColumns;let i=index"
                (click)="getOperationDetails(i)"></tr>
              </table>
            </div>

            <br />
            <!--Components-->
            <mat-card class="mat-elevation-z8" style="background-color: #007CC0; text-align: center">
              <h4 style="font-weight: bold;color: #fff;font-size: 20px; display: inline-block">Components</h4>
            </mat-card>
            <br />
            <div *ngIf="components.length == 0">
              <mat-spinner *ngIf="!noComponents" style="margin: 0 auto" [diameter]="25"></mat-spinner>
              <p *ngIf="noComponents">No components available</p>
            </div>
            <div *ngIf="components.length>0">
              <table mat-table [dataSource]="components" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="Material">
                  <th mat-header-cell *matHeaderCellDef> Material </th>
                  <td mat-cell *matCellDef="let element" style="height: 70px;"> {{element.Material}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="MaterialDescr">
                  <th mat-header-cell *matHeaderCellDef> Description </th>
                  <td mat-cell *matCellDef="let element"> {{element.MaterialDescr}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="ItemNo">
                  <th mat-header-cell *matHeaderCellDef> Operation </th>
                  <td mat-cell *matCellDef="let element"> {{element.ItemNo}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="PlanPlant">
                  <th mat-header-cell *matHeaderCellDef> Stock plant </th>
                  <td mat-cell *matCellDef="let element"> {{element.PlanPlant}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="StgeLoc">
                  <th mat-header-cell *matHeaderCellDef> Storage Location </th>
                  <td mat-cell *matCellDef="let element"> {{element.StgeLoc}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="ValType">
                  <th mat-header-cell *matHeaderCellDef> Valuation </th>
                  <td mat-cell *matCellDef="let element"> {{element.ValType}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="RequirementQuantity">
                  <th mat-header-cell *matHeaderCellDef> Requirement Quantity </th>
                  <td mat-cell *matCellDef="let element"> {{element.RequirementQuantity}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedComponentsColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedComponentsColumns;"></tr>
              </table>
            </div>
          </form>
          <br />
          <!--form [formGroup]="notifFormGroup" *ngIf="modif == true">
            <ion-row style="background-color:#F2F2F2">
              <h4 style="font-weight: bold;color:#000;font-size: 15px">General information</h4>
            </ion-row>
            <mat-form-field class="example-form">
              <input matInput placeholder="Notification Number" readonly="true" [value]="choosenOrder.notifNumber">
            </mat-form-field>
            <mat-form-field class="example-form" color="secondary">
              <input [(ngModel)]="choosenOrder.description" matInput placeholder="Description" maxlength="40"
                formControlName="description" required>
            </mat-form-field>
            <mat-form-field class="form-85" class="example-form">
              <mat-select placeholder="Functional location" formControlName="functloc" required
                [(ngModel)]="choosenOrder.functloc">
                <mat-option *ngFor="let l of locations" [value]="l.loc">
                  {{l.loc}}-{{l.description}}...
                </mat-option>
              </mat-select>
            </mat-form-field>
           
            <ion-button color="light" (click)="scanQRCode()">
              <ion-icon name="qr-scanner"></ion-icon>QR-CODE
            </ion-button>
            <mat-form-field class="example-form">
              <input matInput placeholder="Equipment" maxlength="40" formControlName="equipment">
            </mat-form-field>
            <br />
            <mat-checkbox color="primary" formControlName="breakdownIndic" class="example-form">Breakdown Indicator
            </mat-checkbox>
            <br />
            <mat-form-field class="example-form">
              <mat-select placeholder="Effect on production" formControlName="productionEff"
                [(ngModel)]="choosenOrder.productionEff">
                <mat-option *ngFor="let pe of productionEffects" [value]="pe.id">
                  {{pe.desc}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <ion-row style="background-color: #F2F2F2">
              <h4 style="font-weight: bold;color: #000;font-size: 15px">Notification informations</h4>
            </ion-row>
            <mat-form-field class="example-form">
              <mat-select placeholder="Priority" formControlName="priority" [(ngModel)]="choosenOrder.priority">
                <mat-option *ngFor="let p of priorities" [value]="p.desc">
                  {{p.id}}-{{p.desc}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="example-form">
              <input matInput placeholder="Malfunction start date" maxlength="40"
                [value]="getHoursandMinutes(choosenOrder.startDate)" formControlName="startDate" required>
              <mat-icon matSuffix>calendar_today</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-form">
              <mat-select placeholder="Damage code" formControlName="damageCode">
                <mat-option *ngFor="let p of priorities" [value]="p.desc">
                  {{p.id}}-{{p.desc}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="example-form">
              <mat-select placeholder="Cause" formControlName="cause">
                <mat-option *ngFor="let p of priorities" [value]="p.desc">
                  {{p.id}}-{{p.desc}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="example-form">
              <mat-select placeholder="Object part" formControlName="objectPart">
                <mat-option *ngFor="let p of priorities" [value]="p.desc">
                  {{p.id}}-{{p.desc}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="example-form">
              <textarea matInput placeholder="Long text" formControlName="longText"></textarea>
            </mat-form-field>

          </form>-->

        </ion-content>

      </ion-split-pane>
    </ng-template>

  </ng-template>

</ion-content>
<ion-footer *ngIf="modif == false && notAvailable==false">
  <ion-toolbar style="--background: #3E4649;--min-height:50px"
    *ngIf=" orientation === 'landscape-primary' && noData == false">
    <ion-buttons slot="end">

      <ion-button (click)="presentRestConfirm()" style="background-color: red;color: white;--height:40px" strong="true"
        size="large" type="reset">Release SO</ion-button>
      <ion-button (click)="modifyNotif()" style="background-color: #009DE0;color: white;--height:40px" strong="true"
        size="large" type="reset">Update SO</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
<ion-footer *ngIf="modif == true && notAvailable==false">
  <ion-toolbar style="--background: #3E4649;--min-height:50px"
    *ngIf=" orientation === 'landscape-primary' && noData == false">
    <ion-buttons slot="end">
      <ion-button (click)="updateNotif(choosenNotif)" style="background-color: green;color: white">
        Save
      </ion-button>
      <ion-button style="background-color: red;color: white;--height:40px" strong="true" size="large"
        (click)="modif = !modif">Cancel</ion-button>
      <ion-button style="background-color: #009DE0;color: white;--height:40px" strong="true" size="large" type="reset">
        Similar
        Notifications</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>