<ion-content padding fullscreen="true" class="content">
  <br/><br/><br/><br/>
  <img src="../../../assets/img/logo.png" alt="" class="center">

  <div *ngIf="orientation === 'portrait-primary';else landscapeContent">
        <form [formGroup]="loginFormGroup" [style.fontSize.px]="30" class="loginFormPortrait">
            <input class="matInput" placeholder="User Name" [(ngModel)]="credentials.login" formControlName="login" required>

            <input class="matInput" placeholder="Password" [type]="hide ? 'password' : 'text'"  [(ngModel)]="credentials.pwd" formControlName="pwd" required>
          <button class="btn2" (click)="login()">Login</button>    
          <p class="example-form2" style="color: red" *ngIf="formInvalid">Please check the information entered</p>
        </form>
  </div>

  <ng-template #landscapeContent>
      
        <form [formGroup]="loginFormGroup" [style.fontSize.px]="30" class="loginForm">
            <input class="matInput" placeholder="User Name" maxlength="40" [(ngModel)]="credentials.login" formControlName="login" required>
            
            <input class="matInput" placeholder="Password" [type]="hide ? 'password' : 'text'"  [(ngModel)]="credentials.pwd" formControlName="pwd" required>
            
          <button class="btn" (click)="login()">Login</button>

          
        <p class="example-form2" style="color: red" *ngIf="formInvalid">Please check the information entered</p>
        </form>
        
  </ng-template>
</ion-content>
