<ion-header>
  <app-header pageTitle="Notification" (close)="onClose($event)"></app-header>
</ion-header>

<ion-content padding>
  <form [formGroup]="notifFormGroup">
    <mat-card class="mat-elevation-z8" style="background-color: #007CC0; text-align: center">
      <h4 style="font-weight: bold;color: #fff;font-size: 20px; display: inline-block">General information
      </h4>
    </mat-card>
    <br/>
    <mat-form-field class="example-form" color="secondary">
      <input matInput placeholder="Description" maxlength="40" formControlName="description" required value="">
    </mat-form-field>

    <mat-form-field class="example-form2" (click)="selectFunctLoc()">
      <input matInput placeholder="Functional location" formControlName="functloc" [(ngModel)]="choosenFunctLoc"
        required>
      <mat-icon matSuffix style="color: grey">filter_none</mat-icon>
    </mat-form-field>
    <!--button color="primary" mat-button><ion-icon name="qr-scanner"></ion-icon>QR-CODE</button>-->
    <ion-button color="light" (click)="scanQRCode()">
      <ion-icon name="qr-scanner"></ion-icon>QR-CODE
    </ion-button>

    <mat-form-field class="example-form" (click)="selectEquipment()" *ngIf="choosenFunctLoc !== ''">
      <input matInput placeholder="Equipment" formControlName="equipment" [(ngModel)]="choosenEquipment" required>
      <mat-icon matSuffix style="color: grey">filter_none</mat-icon>
    </mat-form-field>
    <br /><br />
    <mat-checkbox color="primary" formControlName="breakdownIndic" class="example-form">Breakdown Indicator
    </mat-checkbox>
    <br /><br />
    <mat-form-field class="example-form">
      <mat-select placeholder="Effect on production" formControlName="productionEff">
        <mat-option *ngFor="let pe of productionEffects" [value]="pe.EffectId">
          {{pe.EffectDescr}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-card class="mat-elevation-z8" style="background-color: #007CC0; text-align: center">
      <h4 style="font-weight: bold;color: #fff;font-size: 20px; display: inline-block">Notification informations
      </h4>
    </mat-card>
    <br/>
    <mat-form-field class="example-form">
      <mat-select placeholder="Priority" formControlName="priority">
        <mat-option *ngFor="let p of priorities" [value]="p.PriorityId">
          {{p.PriorityDescr}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-form">
      <input matInput placeholder="Malfunction start date" maxlength="40" [(ngModel)]="dateauj"
        formControlName="startDate" required>
      <mat-icon matSuffix style="color: grey">calendar_today</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-form" (click)="selectDamageGroup()">
      <input matInput placeholder="Damage code" formControlName="damageCode" [(ngModel)]="choosenDC" required>
      <mat-icon matSuffix style="color: grey">filter_none</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-form" (click)="selectCauseGroup()">
      <input matInput placeholder="Cause" formControlName="cause" [(ngModel)]="choosenCC" required>
      <mat-icon matSuffix style="color: grey">filter_none</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-form" (click)="selectObjectPartGroup()">
      <input matInput placeholder="Object part" formControlName="objectPart" [(ngModel)]="choosenObjectPartCode"
        required>
      <mat-icon matSuffix style="color: grey">filter_none</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-form">
      <textarea matInput placeholder="Long text" formControlName="longText"></textarea>
    </mat-form-field>
    <br />
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-label>Attachments({{nbAttachments}})</ion-label>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="selectImage()">
          <ion-icon name="camera"></ion-icon>
          Take picture
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <mat-divider></mat-divider>
    <div *ngIf="nbAttachments == 0">
      <ion-icon name="attach" class="disp" style="font-size: 200px"></ion-icon>
      <h4 style="text-align: center">No attachments</h4>
      <p style="text-align: center;color: grey">Tap the camera icon to take a photo</p>
    </div>
    <div>
      <ion-list>
        <ion-item *ngIf="nbAttachments>0">Nombre d'images: {{nbAttachments}}</ion-item>
        <ion-item *ngFor="let img of images; index as pos" text-wrap>
          <ion-thumbnail slot="start">
            <ion-img [src]="img.path"></ion-img>
          </ion-thumbnail>
          <ion-label>
            {{ img.name }}
          </ion-label>
          <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar style="--background: #3E4649;--min-height:50px">
    <ion-buttons slot="end">
      <ion-button (click)="presentRestConfirm()" style="background-color: red;color: white;--height:40px" strong="true"
        size="large" type="reset">Clear</ion-button>
      <ion-button style="background-color: green;color: white;--height:40px" size="large" strong="true">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>