  .example-form {
    width: 80%;
  }

  .example-form2 {
    width: 67%;
    margin-left: 5%;
  }

  .example-form3 {
    width: 67%;
    //margin-left: 5%;
  }


  .form-85 {
    width: 70%;
  }

  .disp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color:grey;
  }

  .content:not(#excluded){
    text-align: center;
  }

  #excluded{
    width: 50%;
    margin-left:10%;
  }
  
  

