.example-form {
    min-width: 500px;
    max-width: 600px;
    width: 100%;
    margin-left: 10%;
  }

  .example-form2 {
    min-width: 400px;
    max-width: 500px;
    width: 100%;
    margin-left: 10%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .form-85 {
    width: 70%
  }

  .disp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color:grey;
  }
  
  

