<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
    <ion-title>Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="notifFormGroup">
    <ion-row style="background-color: #F2F2F2">
      <h3 style="font-weight: bold;color: #000;font-size: 20px">General information</h3>
    </ion-row>
    <mat-form-field class="example-form" color="secondary">
      <input disabled matInput placeholder="Description" maxlength="40" formControlName="description" required value="">
    </mat-form-field>
    <mat-form-field class="form-85" class="example-form">
      <mat-select placeholder="Functional location" formControlName="functloc" required>
        <mat-option *ngFor="let l of locations" [value]="l.loc">
          {{l.loc}}-{{l.description}}...
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!--button color="primary" mat-button><ion-icon name="qr-scanner"></ion-icon>QR-CODE</button>-->
    <ion-button color="light" (click)="scanQRCode()">
      <ion-icon name="qr-scanner"></ion-icon>QR-CODE
    </ion-button>
    <mat-form-field class="example-form">
      <input matInput placeholder="Equipment" maxlength="40" formControlName="equipment">
    </mat-form-field>
    <br />
    <mat-checkbox color="primary" formControlName="breakdownIndic" class="example-form">Breakdown Indicator</mat-checkbox>
    <br />
    <mat-form-field class="example-form">
      <mat-select placeholder="Effect on production" formControlName="productionEff">
        <mat-option *ngFor="let pe of productionEffects" [value]="pe.id">
          {{pe.desc}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <ion-row style="background-color: #F2F2F2">
      <h3 style="font-weight: bold;color: #000;font-size: 20px">Notification informations</h3>
    </ion-row>
    <mat-form-field class="example-form">
      <mat-select placeholder="Priority" formControlName="priority">
        <mat-option *ngFor="let p of priorities" [value]="p.id">
          {{p.id}}-{{p.desc}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-form">
      <input matInput placeholder="Malfunction start date" maxlength="40" [(ngModel)]="dateauj" formControlName="startDate" required>
      <mat-icon matSuffix>calendar_today</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-form">
      <mat-select placeholder="Damage code" formControlName="damageCode">
        <mat-option *ngFor="let p of priorities" [value]="p.id">
          {{p.id}}-{{p.desc}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-form">
      <mat-select placeholder="Cause" formControlName="cause">
        <mat-option *ngFor="let p of priorities" [value]="p.id">
          {{p.id}}-{{p.desc}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-form">
      <mat-select placeholder="Object part" formControlName="objectPart">
        <mat-option *ngFor="let p of priorities" [value]="p.id">
          {{p.id}}-{{p.desc}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-form">
      <textarea matInput placeholder="Long text" formControlName="longText"></textarea>
    </mat-form-field>
    <br/>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-label>Attachments({{nbAttachments}})</ion-label>
          </ion-buttons>
          <ion-buttons slot="end">
              <ion-button (click)="addAttachment()">
                  <ion-icon name="camera"></ion-icon>
                  Take picture
              </ion-button>
          </ion-buttons>
    </ion-toolbar>
    <mat-divider></mat-divider>
    <div *ngIf="nbAttachments == 0">
      <ion-icon name="attach" class="disp" style="font-size: 200px"></ion-icon>
      <h4 style="text-align: center">No attachments</h4>
      <p style="text-align: center;color: grey">Tap the camera icon to take a photo</p>
  </div>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar style="--background: #3E4649;--min-height:50px">
    <ion-buttons slot="end">
      <ion-button (click)="presentRestConfirm()" style="background-color: red;color: white;--height:40px" strong="true" size="large" type="reset">Clear</ion-button>
      <ion-button style="background-color: green;color: white">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
