.example-form {
    min-width: 400px;
    max-width: 500px;
    width: 100%;
    margin-left: 10%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .form-85 {
    width: 70%
  }

  mat-form-field{ 
    font-size: 20px
  }

  ion-item{
    --background-activated  : #000;

  }
  table {
    width: 100%;
    font-size: 30px;
  }
   
  

