.example-form {
  min-width: 500px;
  max-width: 600px;
  width: 100%;
  margin-left: 10%;
}
  
  .example-full-width {
    width: 100%;
  }

  .form-85 {
    width: 70%
  }

  ion-item{
    --background-activated  : #000;

  }
  table {
    width: 100%;
    font-size: 30px;
  }
   
  

