<ion-header>
  <ion-toolbar style="--background: #007CC0">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" style="color: white ">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color: white ">Group</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="notAvailable;else contentAvailable">
    <mat-spinner style="margin: 0 auto"></mat-spinner>
  </div>

  <ng-template #contentAvailable>
    <div *ngIf="noData">
      No object part code available for this group
    </div>
    <div *ngIf="!noData">
      <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl"></ion-searchbar>
      <ion-list>
        <ion-list-header>
          <ion-label>Choose the object part group</ion-label>
        </ion-list-header>
        <ion-item (click)="choose(og)" *ngFor="let og of objectPartGroups;let i=index">
          <ion-label>
            <ion-text>
              {{og.CodeGroup}}
            </ion-text>
            <p>
              {{og.CodeDescr}}
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ng-template>
</ion-content>

<ion-footer>
    <ion-toolbar style="--background: #fff;--min-height:50px">
      <ion-buttons slot="end">
        <ion-button style="background-color: red;color: white" (click)="closeModal()">
          Cancel
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>