.example-form {
  min-width: 600px;
  max-width: 700px;
  width: 100%;
  margin-left: 10%;
}

.example-form2 {
  min-width: 600px;
  max-width: 700px;
  width: 100%;
  margin-left: 10%;
  text-align: center;
}
.example-full-width {
  width: 100%;
}

.form-85 {
  width: 70%
}

.disp{
  display: block;
  margin-left: auto;
  margin-right: auto;
  color:grey;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  margin: 0 14px;
}


