<ion-header>
  <ion-toolbar style="--background: #005BBB">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" style="color: white ">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color: white ">Operation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="operationFormGroup">
    <mat-form-field class="example-form" color="secondary">
      <input matInput placeholder="Operation" maxlength="40" formControlName="operation" required
        [(ngModel)]="op.Activity">
    </mat-form-field>
    <mat-form-field class="example-form" color="secondary">
      <input matInput placeholder="Description" maxlength="40" formControlName="description"
        [(ngModel)]="op.Description">
    </mat-form-field>
    <mat-form-field class="example-form" (click)="selectStandardText()">
      <input matInput placeholder="Standard Text" formControlName="standardText" required [(ngModel)]="standardText">
      <mat-icon matSuffix style="color: grey">filter_none</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-form">
      <input matInput placeholder="Plant" formControlName="plant" required [(ngModel)]="plant" readonly="true">
      <mat-icon matSuffix style="color: grey">filter_none</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-form" (click)="selectWorkCenter()">
      <input matInput placeholder="Work Center" formControlName="workCenter" required [(ngModel)]="workCenter">
      <mat-icon matSuffix style="color: grey">filter_none</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-form" (click)="selectAssignee()">
      <input matInput placeholder="Assignee" formControlName="assignee" required [(ngModel)]="assignee">
      <mat-icon matSuffix style="color: grey">filter_none</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-form" (click)="selectActType()">
      <input matInput placeholder="Activity Type" formControlName="actType" required [(ngModel)]="actType">
      <mat-icon matSuffix style="color: grey">filter_none</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-form2">
      <mat-icon matPrefix style="color: black" (click)="decDuration()">remove</mat-icon>
      <input matInput placeholder="Duration" formControlName="duration" required [(ngModel)]="op.Duration">
      <mat-icon matSuffix style="color: black" (click)="incDuration()">add</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-form2">
      <mat-icon matPrefix style="color: black" (click)="dec()">remove</mat-icon>
      <input matInput placeholder="Number of employees" formControlName="numEmployees" required
        [(ngModel)]="op.NumberOfCapacities">
      <mat-icon matSuffix style="color: black" (click)="inc()">add</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-form" (click)="selectCheckList()">
      <input matInput placeholder="Checklist" formControlName="checklist" required [(ngModel)]="checkList">
      <mat-icon matSuffix style="color: grey">filter_none</mat-icon>
    </mat-form-field>
  </form>
</ion-content>
<ion-footer>
  <!--ion-toolbar style="--background: #fff;--min-height:50px">
    <ion-buttons slot="start">
      <button *ngIf="mode === 'detail' && op.ChklstId !== '' && afficheChecklist" 
      (click)="displayChecklistDetails()" style="background-color: #005BBB;color: white;" mat-flat-button >Checklist</button>
      
      <button *ngIf="mode === 'detail' && op.ChklstId !== ''" 
       style="background-color: #005BBB;color: white;" mat-flat-button >Confirmations</button>

    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="mode === 'create'" (click)="presentRestConfirm()"
        style="background-color: grey;color: white;--height:40px" strong="true" type="reset">Clear</ion-button>
      <ion-button style="background-color: #378516;color: white" (click)="closeModal()">
        Save
      </ion-button>
      <ion-button style="background-color: red;color: white" (click)="closeModal()">
        Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>-->
  <mat-toolbar style="--background: #fff;">
    <mat-toolbar-row>
      <button *ngIf="mode === 'detail' && op.ChklstId !== '' && afficheChecklist" (click)="displayChecklistDetails()"
        style="background-color: #005BBB;color: white;" mat-flat-button>Checklist</button>

      <button *ngIf="mode === 'detail' && op.ChklstId !== ''" style="background-color: #005BBB;color: white;"
        mat-flat-button class="example-icon">Confirmations</button>

      <span class="example-spacer"></span>

      <button *ngIf="mode === 'create'" (click)="presentRestConfirm()"
        style="background-color: grey;color: white;--height:40px" mat-flat-button class="example-icon">
        Clear</button>
      <button style="background-color: #378516;color: white" (click)="closeModal()" mat-flat-button
        class="example-icon">
        Save
      </button>

      <button style="background-color: red;color: white" (click)="closeModal()" mat-flat-button>
        Cancel
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</ion-footer>