<ion-header>
  <ion-toolbar style="--background: #007CC0">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" style="color: white ">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color: white ">Operation</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" style="color: white ">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="operationFormGroup">
    <mat-form-field class="example-form" color="secondary">
      <input matInput placeholder="Operation" maxlength="40" formControlName="operation" required
        [(ngModel)]="op.Activity">
    </mat-form-field>
    <mat-form-field class="example-form" color="secondary">
      <input matInput placeholder="Description" maxlength="40" formControlName="description"
        [(ngModel)]="op.Description">
    </mat-form-field>
    <mat-form-field class="example-form" (click)="selectStandardText()">
      <input matInput placeholder="Standard Text" formControlName="standardText" required
        [(ngModel)]="standardText">
      <mat-icon matSuffix style="color: grey">filter_none</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-form">
      <input matInput placeholder="Plant" formControlName="plant" required [(ngModel)]="plant" readonly="true">
      <mat-icon matSuffix style="color: grey">filter_none</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-form" (click)="selectWorkCenter()">
      <input matInput placeholder="Work Center" formControlName="workCenter" required [(ngModel)]="workCenter">
      <mat-icon matSuffix style="color: grey">filter_none</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-form" (click)="selectAssignee()">
      <input matInput placeholder="Assignee" formControlName="assignee" required [(ngModel)]="assignee">
      <mat-icon matSuffix style="color: grey">filter_none</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-form" (click)="selectActType()">
      <input matInput placeholder="Activity Type" formControlName="actType" required [(ngModel)]="op.ActivityType">
      <mat-icon matSuffix style="color: grey">filter_none</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-form2">
      <mat-icon matPrefix style="color: black" (click)="decDuration()">remove</mat-icon>
      <input matInput placeholder="Duration" formControlName="duration" required [(ngModel)]="op.Duration">
      <mat-icon matSuffix style="color: black" (click)="incDuration()">add</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-form2">
      <mat-icon matPrefix style="color: black" (click)="dec()">remove</mat-icon>
      <input matInput placeholder="Number of employees" formControlName="numEmployees" required
        [(ngModel)]="op.NumberOfCapacities">
      <mat-icon matSuffix style="color: black" (click)="inc()">add</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-form" (click)="selectCheckList()">
      <input matInput placeholder="Checklist" formControlName="checklist" required [(ngModel)]="op.ChklstId">
      <mat-icon matSuffix style="color: grey">filter_none</mat-icon>
    </mat-form-field>
  </form>

  <form *ngIf="mode === 'create'">

  </form>

</ion-content>

<ion-footer>
  <ion-toolbar style="--background: #fff;--min-height:50px">
    <ion-buttons slot="end">
      <ion-button style="background-color: red;color: white" (click)="closeModal()">
        Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>