.example-form {
  min-width: 600px;
  max-width: 700px;
  width: 100%;
  margin-right: 20%;
}

.example-form2 {
  min-width: 600px;
  max-width: 700px;
  width: 100%;
  margin-right: 20%;
  text-align: center;
}
.example-full-width {
  width: 100%;
}

.form-85 {
  width: 70%
}

mat-form-field{ 
  font-size: 20px
}

.disp{
  display: block;
  margin-left: auto;
  margin-right: auto;
  color:grey;
}

ion-fab-button[data-desc] {
  position: relative;
}

ion-fab-button[data-desc]::after {
  position: absolute;
  content: attr(data-desc);
  z-index: 1;
  right: 55px;
  bottom: 4px;
  background-color: var(--ion-color-primary);
  padding: 9px;
  border-radius: 15px;
  color: black;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
}


