<ion-header>
  <app-header pageTitle="Notifications" (close)="onClose($event)"></app-header>
</ion-header>

<ion-content padding>
  <div *ngIf="orientation === 'portrait-primary';else landscapeContent">
    <div *ngIf="notifList.length==0;else availContent">
      <mat-spinner style="margin: 0 auto"></mat-spinner>
    </div>
    <ng-template #availContent>
      <p *ngIf="noData == true">
        No data available
      </p>

      <mat-nav-list>
        <mat-list-item *ngFor="let notif of notifList" (click)="presentDetails(notif)"
          [style.background-color]="notif.bgcolor" [style.color]="notif.color">
          <h3 matLine style="font-weight: bold;color: #007CC0;">{{notif.NotifNo}} </h3>
          <p matLine [style.font-weight]="notif.fw"> {{notif.ShortText}} </p>
          <p matLine [style.font-weight]="notif.fw" class="demo-2"> {{formatDate(notif.StartDate)}} </p>
          <p style="color: blue;" *ngIf="notif.Priority === '1'" [style.font-weight]="notif.fw" matLine>
            {{notif.PriorityDescr}}{{notif.color}}</p>
          <p style="color: red;" *ngIf="notif.Priority === '2'" [style.font-weight]="notif.fw" matLine>
            {{notif.PriorityDescr}}</p>
          <p style="color: gray;" *ngIf="notif.Priority === '3'" [style.font-weight]="notif.fw" matLine>
            {{notif.PriorityDescr}}</p>
          <p style="color: green;" *ngIf="notif.Priority === '4'" [style.font-weight]="notif.fw" matLine>
            {{notif.PriorityDescr}}</p>
          <button mat-icon-button>
            <i class="material-icons" style="color: grey;">navigate_next</i>
          </button>
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </mat-list-item>
      </mat-nav-list>
    </ng-template>

  </div>

  <ng-template #landscapeContent>
    <div *ngIf="notAvailable;else availableContent">
      <mat-spinner style="margin: 0 auto"></mat-spinner>
    </div>
    <ng-template #availableContent>
      <p *ngIf="noData == true">
        No data available
      </p>
      <div *ngIf="noData == false">
        <mat-nav-list>
          <mat-list-item *ngFor="let notif of notifList" (click)="presentDetails(notif)"
            [style.background-color]="notif.bgcolor" [style.color]="notif.color">
            <h3 matLine style="font-weight: bold;color: #007CC0;font-size: 20px">{{notif.NotifNo}} </h3>
            <p matLine [style.font-weight]="notif.fw" style="font-size: 20px"> {{notif.ShortText}} </p>
            <p matLine [style.font-weight]="notif.fw" style="font-size: 20px" class="demo-2"> {{formatDate(notif.StartDate)}} </p>
            <p style="color: blue;font-size: 20px" *ngIf="notif.Priority === '1'" [style.font-weight]="notif.fw" matLine>
              {{notif.PriorityDescr}}{{notif.color}}</p>
            <p style="color: red;font-size: 20px" *ngIf="notif.Priority === '2'" [style.font-weight]="notif.fw" matLine>
              {{notif.PriorityDescr}}</p>
            <p style="color: gray;font-size: 20px" *ngIf="notif.Priority === '3'" [style.font-weight]="notif.fw" matLine>
              {{notif.PriorityDescr}}</p>
            <p style="color: green;font-size: 20px" *ngIf="notif.Priority === '4'" [style.font-weight]="notif.fw" matLine>
              {{notif.PriorityDescr}}</p>
            <button mat-icon-button>
              <i class="material-icons" style="color: grey;">navigate_next</i>
            </button>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </ng-template>

  </ng-template>

</ion-content>
<ion-footer>
  <ion-toolbar style="--background: #3E4649;--min-height:50px" *ngIf="noData == false">
    <ion-buttons slot="start">
      <ion-select value="sort" okText="OK" cancelText="Cancel" style="background-color: white"
        (ionChange)="sortBy($event)">
        <ion-select-option value="sort">Sort By ...</ion-select-option>
        <ion-select-option value="notifNo">Notif No</ion-select-option>
        <ion-select-option value="startDate">Malfunction Start Date</ion-select-option>
        <ion-select-option value="priority">Priority</ion-select-option>
        <ion-select-option value="floc">Functional Location</ion-select-option>
      </ion-select>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>