<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item detail (click)="presentDetails('300330288')">
      <ion-label text-wrap>
        <ion-text color="primary">
          <h2 style="font-weight: bold">300330288</h2>
        </ion-text>
        <p>Notification to reject</p>
        <ion-text color="dark">
          <p>29/01/2019</p>
        </ion-text>
        <ion-text color="danger">
          <p>Very High</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item detail>
      <ion-label text-wrap>
        <ion-text color="primary">
          <h3 style="font-weight: bold">300330288</h3>
        </ion-text>
        <p>Notification to reject</p>
        <ion-text color="dark">
          <p>29/01/2019</p>
        </ion-text>
        <ion-text color="danger">
          <p>Very High</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item detail>
      <ion-label text-wrap>
        <ion-text color="primary">
          <h3 style="font-weight: bold">300330288</h3>
        </ion-text>
        <p>Notification to reject</p>
        <ion-text color="dark">
          <p>29/01/2019</p>
        </ion-text>
        <ion-text color="danger">
          <p>Very High</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item detail>
      <ion-label text-wrap>
        <ion-text color="primary">
          <h3 style="font-weight: bold">300330288</h3>
        </ion-text>
        <p>Notification to reject</p>
        <ion-text color="dark">
          <p>29/01/2019</p>
        </ion-text>
        <ion-text color="danger">
          <p>Very High</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item detail>
      <ion-label text-wrap>
        <ion-text color="primary">
          <h3 style="font-weight: bold">300330288</h3>
        </ion-text>
        <p>Notification to reject</p>
        <ion-text color="dark">
          <p>29/01/2019</p>
        </ion-text>
        <ion-text color="danger">
          <p>Very High</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
