
  .example-card {
    max-width: 400px;
    font-family: Roboto, Arial, sans-serif;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
