<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Plant</ion-title>
    <ion-searchbar *ngIf="!notAvailable" [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="notAvailable;else contentAvailable">
    <mat-spinner style="margin: 0 auto"></mat-spinner>
  </div>

  <ng-template #contentAvailable>
    <div *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
    </div>

    <mat-list>
      <mat-list-item *ngFor="let plant of plants;let i=index">
        <ion-toggle (ionChange)="notify($event,i)" color="primary"
          [checked]="plant.state === 'checked' ? 'true':'false'"></ion-toggle>
        <p  (click)="choose(plant)" matLine style="color: #000;">{{plant.Plant}}-{{plant.PlantDescr}}</p>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>

  </ng-template>


</ion-content>

<ion-footer>
  <ion-toolbar style="--background: #3E4649;--min-height:50px">
    <ion-buttons slot="end">
        <ion-button style="background-color: #378516;color: white" (click)="closeModal()">
            Save
          </ion-button>
      <ion-button style="background-color: #3E4649;color: white" (click)="cancel()">
        Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>