// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import '~material-design-icons/iconfont/material-icons.css';
//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.spinner-container {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.modal1{
    .modal-wrapper {
        --width:90%;
        height: 90%;
    }
}

.modal2{
  .modal-wrapper {
      --width:88%;
      height: 85%;
  }
}


mat-form-field{ 
    font-size: 18px;
    color: currentColor;
  }

     
  .toolbar{
    border-radius: 8px;
  }

  .btn-cancel{
    background-color: red;color: white;
  }
  .btn-save{
    background-color: #378516;color: white;
  }
  .btn-standard{
    background-color: #005BBB;color: white;
  }
  .btn-clear{
    background-color: grey;color: white;
  }
  .example-spacer {
    flex: 1 1 auto;
  }


