.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
 .bg-image{
   background: url("../../assets/img/background.jpg") no-repeat center center fixed;
   background-size: cover;
 }
 ion-content{
  --background: #fff url('../../assets/img/background.jpg') no-repeat center center / cover;
}


mat-grid-tile {
  background: lightblue;
}
mat-card {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.principalContent{
  width: 95%;
    margin: 0 auto;
    margin-top: 10%
}


  

