.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
 .bg-image{
   background: url("../../assets/img/background.jpg") no-repeat center center fixed;
   background-size: cover;
 }
 
 ion-content{
  --background: #fff url('../../assets/img/background.jpg') no-repeat center center / cover;
  //--background: #fff;
}

mat-grid-tile {
  background: lightblue;
}
mat-card {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.principalContent{
  width: 95%;
    margin: 0 auto;
    margin-top: 3%
}

.tuileLandscape{
  box-shadow : 0 3px 15px rgba(0,0,0,0.11);
  border-radius: 8px;
}

.tuile1{
  background-color: #fafafa; 
  opacity : 0.9;
  border-bottom: 2px #001A70 solid;
}
.tuile2{
  background-color: #fafafa;
  opacity : 0.9;
  border-bottom: 2px #005238 solid;
}

.tuile3{
  background-color: #fafafa;
  opacity : 0.9;
  border-bottom: 2px #005BBB solid;
}

.tuile4{
  background-color: #fafafa;
  opacity : 0.9;
  border-bottom: 2px #E53F00 solid;
}

.tuile5{
  background-color: #fafafa;
  opacity : 0.9;
  border-bottom: 2px #378516 solid;
}

.tuile6{
  background-color: #fafafa;
  opacity : 0.9;
  border-bottom: 2px #FFA02F solid;
}

.tuile7{
  background-color: #fafafa;
  opacity : 0.9;
  border-bottom: 2px #C4D600 solid;
}

.tuile8{
  background-color: #fafafa;
  opacity : 0.9;
  border-bottom: 2px #484848 solid;
}

.mat-spinner-color::ng-deep circle{
  stroke: #FFFFFF !important;
  } 

  

