<ion-header>
  <ion-toolbar style="--background: #005BBB">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" style="color: white ">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color: white ">CheckList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p *ngIf="noData">No checklist available</p>
  <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"
    [style.visibility]="noData ? 'hidden' : 'visible' ">
  </ion-searchbar>
  <div *ngIf="notAvailable;else contentAvailable">
    <mat-spinner style="margin: 0 auto"></mat-spinner>
  </div>

  <ng-template #contentAvailable>

    <div *ngIf="!noData">

      <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Checklist ID. </th>
          <td mat-cell *matCellDef="let element" style="height: 70px;"> {{element.ChklstId}} </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
        </ng-container>

        <ng-container matColumnDef="creationDate">
          <th mat-header-cell *matHeaderCellDef> Created On </th>
          <td mat-cell *matCellDef="let element"> {{formatDate(element.CreatedOn)}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;let element" (click)="chooseChecklist(element)"></tr>
      </table>
    </div>
  </ng-template>

</ion-content>

<ion-footer>
  <ion-toolbar style="--background: #fff;--min-height:50px">
    <ion-buttons slot="end">
      <ion-button style="background-color: red;color: white" (click)="closeModal()">
        Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>